<!--Gallery Hover Effect Starts-->
<div class="row">
    <div class="col-sm-12">
        <div class="content-header">Hover Effects</div>
        <p class="content-sub-header">Image gallery grid with 30 subtle hover effect. Try to hover below demo images to show each hover effect.</p>
    </div>
</div>
<section id="hover-effects" class="card">
  <div class="card-body">
    <div class="card-block my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
      <div class="grid-hover">
        <h5 class="text-bold-400 text-uppercase">Julia</h5>
        <div class="row">
          <div class="col-md-6 col-12">
            <figure class="effect-julia">
              <img src="assets/img/gallery/22.jpg" alt="img12" />
              <figcaption>
                <h2 class="white">Nice <span>Julia</span></h2>
                <div>
                  <p>Julia dances in the deep dark</p>
                  <p>She loves the smell of the ocean</p>
                  <p>And dives into the morning light</p>
                </div>
                <a href="#">View more</a>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-6 col-12">
            <figure class="effect-julia">
              <img src="assets/img/gallery/21.jpg" alt="img1" />
              <figcaption>
                <h2 class="white">Passionate <span>Julia</span></h2>
                <div>
                  <p>Julia dances in the deep dark</p>
                  <p>She loves the smell of the ocean</p>
                  <p>And dives into the morning light</p>
                </div>
                <a href="#">View more</a>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
      <div class="grid-hover">
        <h5 class="text-bold-400 text-uppercase">Goliath</h5>
        <div class="row">
          <div class="col-md-6 col-12">
            <figure class="effect-goliath">
              <img src="assets/img/gallery/23.jpg" alt="img02" />
              <figcaption>
                <h2 class="white">Thoughtful <span>Goliath</span></h2>
                <p>When Goliath comes out, you should run.</p>
                <a href="#">View more</a>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-6 col-12">
            <figure class="effect-goliath">
              <img src="assets/img/gallery/24.jpg" alt="img14" />
              <figcaption>
                <h2 class="white">Thoughtful <span>Goliath</span></h2>
                <p>When Goliath comes out, you should run.</p>
                <a href="#">View more</a>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
      <div class="grid-hover">
        <h5 class="text-bold-400 text-uppercase">Hera</h5>
        <div class="row">
          <div class="col-md-6 col-12">
            <figure class="effect-hera">
              <img src="assets/img/gallery/14.jpg" alt="img04" />
              <figcaption>
                <h2 class="white">Tender <span>Hera</span></h2>
                <p>
                  <a href="#"><i class="fa fa-fw fa-file-pdf-o"></i></a>
                  <a href="#"><i class="fa fa-fw fa-file-image-o"></i></a>
                  <a href="#"><i class="fa fa-fw fa-file-archive-o"></i></a>
                  <a href="#"><i class="fa fa-fw fa-file-code-o"></i></a>
                </p>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-6 col-12">
            <figure class="effect-hera">
              <img src="assets/img/gallery/25.jpg" alt="img05" />
              <figcaption>
                <h2 class="white">Tender <span>Hera</span></h2>
                <p>
                  <a href="#"><i class="fa fa-fw fa-file-pdf-o"></i></a>
                  <a href="#"><i class="fa fa-fw fa-file-image-o"></i></a>
                  <a href="#"><i class="fa fa-fw fa-file-archive-o"></i></a>
                  <a href="#"><i class="fa fa-fw fa-file-code-o"></i></a>
                </p>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
      <div class="grid-hover">
        <h5 class="text-bold-400 text-uppercase">Winston</h5>
        <div class="row">
          <div class="col-md-6 col-12">
            <figure class="effect-winston">
              <img src="assets/img/gallery/26.jpg" alt="img06" />
              <figcaption>
                <h2 class="white">Jolly <span>Winston</span></h2>
                <p>
                  <a href="#"><i class="fa fa-fw fa-star-o"></i></a>
                  <a href="#"><i class="fa fa-fw fa-comments-o"></i></a>
                  <a href="#"><i class="fa fa-fw fa-envelope-o"></i></a>
                </p>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-6 col-12">
            <figure class="effect-winston">
              <img src="assets/img/gallery/27.jpg" alt="img03" />
              <figcaption>
                <h2 class="white">Jolly <span>Winston</span></h2>
                <p>
                  <a href="#"><i class="fa fa-fw fa-star-o"></i></a>
                  <a href="#"><i class="fa fa-fw fa-comments-o"></i></a>
                  <a href="#"><i class="fa fa-fw fa-envelope-o"></i></a>
                </p>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
      <div class="grid-hover">
        <h5 class="text-bold-400 text-uppercase">Selena</h5>
        <div class="row">
          <div class="col-md-6 col-12">
            <figure class="effect-selena">
              <img src="assets/img/gallery/28.jpg" alt="img25" />
              <figcaption>
                <h2 class="white">Happy <span>Selena</span></h2>
                <p>Selena is a tiny-winged bird.</p>
                <a href="#">View more</a>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-6 col-12">
            <figure class="effect-selena">
              <img src="assets/img/gallery/29.jpg" alt="img26" />
              <figcaption>
                <h2 class="white">Happy <span>Selena</span></h2>
                <p>Selena is a tiny-winged bird.</p>
                <a href="#">View more</a>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
      <div class="grid-hover">
        <h5 class="text-bold-400 text-uppercase">Terry</h5>
        <div class="row">
          <div class="col-md-6 col-12">
            <figure class="effect-terry">
              <img src="assets/img/gallery/30.jpg" alt="img09" />
              <figcaption>
                <h2 class="white">Noisy <span>Terry</span></h2>
                <p>
                  <a href="#"><i class="fa fa-fw fa-download"></i></a>
                  <a href="#"><i class="fa fa-fw fa-heart"></i></a>
                  <a href="#"><i class="fa fa-fw fa-share"></i></a>
                  <a href="#"><i class="fa fa-fw fa-tags"></i></a>
                </p>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-6 col-12">
            <figure class="effect-terry">
              <img src="assets/img/gallery/31.jpg" alt="img10" />
              <figcaption>
                <h2 class="white">Noisy <span>Terry</span></h2>
                <p>
                  <a href="#"><i class="fa fa-fw fa-download"></i></a>
                  <a href="#"><i class="fa fa-fw fa-heart"></i></a>
                  <a href="#"><i class="fa fa-fw fa-share"></i></a>
                  <a href="#"><i class="fa fa-fw fa-tags"></i></a>
                </p>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
      <div class="grid-hover">
        <h5 class="text-bold-400 text-uppercase">Phoebe</h5>
        <div class="row">
          <div class="col-md-6 col-12">
            <figure class="effect-phoebe">
              <img src="assets/img/gallery/32.jpg" alt="img11" />
              <figcaption>
                <h2 class="white">Plain <span>Phoebe</span></h2>
                <p>
                  <a href="#"><i class="fa fa-fw fa-user"></i></a>
                  <a href="#"><i class="fa fa-fw fa-heart"></i></a>
                  <a href="#"><i class="fa fa-fw fa-cog"></i></a>
                </p>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-6 col-12">
            <figure class="effect-phoebe">
              <img src="assets/img/gallery/33.jpg" alt="img12" />
              <figcaption>
                <h2 class="white">Plain <span>Phoebe</span></h2>
                <p>
                  <a href="#"><i class="fa fa-fw fa-user"></i></a>
                  <a href="#"><i class="fa fa-fw fa-heart"></i></a>
                  <a href="#"><i class="fa fa-fw fa-cog"></i></a>
                </p>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
      <div class="grid-hover">
        <h5 class="text-bold-400 text-uppercase">Apollo</h5>
        <div class="row">
          <div class="col-md-6 col-12">
            <figure class="effect-apollo">
              <img src="assets/img/gallery/10.jpg" alt="img13" />
              <figcaption>
                <h2 class="white">Strong <span>Apollo</span></h2>
                <p>Apollo's last game of pool was so strange.</p>
                <a href="#">View more</a>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-6 col-12">
            <figure class="effect-apollo">
              <img src="assets/img/gallery/1.jpg" alt="img14" />
              <figcaption>
                <h2 class="white">Strong <span>Apollo</span></h2>
                <p>Apollo's last game of pool was so strange.</p>
                <a href="#">View more</a>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
      <div class="grid-hover">
        <h5 class="text-bold-400 text-uppercase">Kira</h5>
        <div class="row">
          <div class="col-md-6 col-12">
            <figure class="effect-kira">
              <img src="assets/img/gallery/5.jpg" alt="img15" />
              <figcaption>
                <h2 class="white">Dark <span>Kira</span></h2>
                <p>
                  <a href="#"><i class="fa fa-fw fa-home"></i></a>
                  <a href="#"><i class="fa fa-fw fa-download"></i></a>
                  <a href="#"><i class="fa fa-fw fa-heart"></i></a>
                  <a href="#"><i class="fa fa-fw fa-share"></i></a>
                </p>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-6 col-12">
            <figure class="effect-kira">
              <img src="assets/img/gallery/14.jpg" alt="img01" />
              <figcaption>
                <h2 class="white">Dark <span>Kira</span></h2>
                <p>
                  <a href="#"><i class="fa fa-fw fa-home"></i></a>
                  <a href="#"><i class="fa fa-fw fa-download"></i></a>
                  <a href="#"><i class="fa fa-fw fa-heart"></i></a>
                  <a href="#"><i class="fa fa-fw fa-share"></i></a>
                </p>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
      <div class="grid-hover">
        <h5 class="text-bold-400 text-uppercase">Steve</h5>
        <div class="row">
          <div class="col-md-6 col-12">
            <figure class="effect-steve">
              <img src="assets/img/gallery/20.jpg" alt="img02" />
              <figcaption>
                <h2>Lonely <span>Steve</span></h2>
                <p>Steve was afraid of the Boogieman.</p>
                <a href="#">View more</a>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-6 col-12">
            <figure class="effect-steve">
              <img src="assets/img/gallery/19.jpg" alt="img16" />
              <figcaption>
                <h2>Lonely <span>Steve</span></h2>
                <p>Steve was afraid of the Boogieman.</p>
                <a href="#">View more</a>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
      <div class="grid-hover">
        <h5 class="text-bold-400 text-uppercase">Moses</h5>
        <div class="row">
          <div class="col-md-6 col-12">
            <figure class="effect-moses">
              <img src="assets/img/gallery/17.jpg" alt="img17" />
              <figcaption>
                <h2 class="white">Cute <span>Moses</span></h2>
                <p>Moses loves to run after butterflies.</p>
                <a href="#">View more</a>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-6 col-12">
            <figure class="effect-moses">
              <img src="assets/img/gallery/18.jpg" alt="img18" />
              <figcaption>
                <h2 class="white">Cute <span>Moses</span></h2>
                <p>Moses loves to run after butterflies.</p>
                <a href="#">View more</a>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
      <div class="grid-hover">
        <h5 class="text-bold-400 text-uppercase">Jazz</h5>
        <div class="row">
          <div class="col-md-6 col-12">
            <figure class="effect-jazz">
              <img src="assets/img/gallery/19.jpg" alt="img19" />
              <figcaption>
                <h2 class="white">Dynamic <span>Jazz</span></h2>
                <p>When Jazz starts to chase cars, the whole world stands still.</p>
                <a href="#">View more</a>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-6 col-12">
            <figure class="effect-jazz">
              <img src="assets/img/gallery/12.jpg" alt="img12" />
              <figcaption>
                <h2 class="white">Dynamic <span>Jazz</span></h2>
                <p>When Jazz starts to chase cars, the whole world stands still.</p>
                <a href="#">View more</a>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
      <div class="grid-hover">
        <h5 class="text-bold-400 text-uppercase">Ming</h5>
        <div class="row">
          <div class="col-md-6 col-12">
            <figure class="effect-ming">
              <img src="assets/img/gallery/3.jpg" alt="img13" />
              <figcaption>
                <h2 class="white">Funny <span>Ming</span></h2>
                <p>Ming sits in the corner the whole day. She's into crochet.</p>
                <a href="#">View more</a>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-6 col-12">
            <figure class="effect-ming">
              <img src="assets/img/gallery/2.jpg" alt="img20" />
              <figcaption>
                <h2 class="white">Funny <span>Ming</span></h2>
                <p>Ming sits in the corner the whole day. She's into crochet.</p>
                <a href="#">View more</a>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
      <div class="grid-hover">
        <h5 class="text-bold-400 text-uppercase">Lexi</h5>
        <div class="row">
          <div class="col-md-6 col-12">
            <figure class="effect-lexi">
              <img src="assets/img/gallery/5.jpg" alt="img15" />
              <figcaption>
                <h2 class="white">Altruistic <span>Lexi</span></h2>
                <p>Each and every friend is special. Lexi won't hide a single cookie.</p>
                <a href="#">View more</a>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-6 col-12">
            <figure class="effect-lexi">
              <img src="assets/img/gallery/24.jpg" alt="img04" />
              <figcaption>
                <h2 class="white">Altruistic <span>Lexi</span></h2>
                <p>Each and every friend is special. Lexi won't hide a single cookie.</p>
                <a href="#">View more</a>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
      <div class="grid-hover">
        <h5 class="text-bold-400 text-uppercase">Duke</h5>
        <div class="row">
          <div class="col-md-6 col-12">
            <figure class="effect-duke">
              <img src="assets/img/gallery/28.jpg" alt="img11" />
              <figcaption>
                <h2 class="white">Messy <span>Duke</span></h2>
                <p>Duke is very bored. When he looks at the sky, he feels to run.</p>
                <a href="#">View more</a>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-6 col-12">
            <figure class="effect-duke">
              <img src="assets/img/gallery/16.jpg" alt="img03" />
              <figcaption>
                <h2 class="white">Messy <span>Duke</span></h2>
                <p>Duke is very bored. When he looks at the sky, he feels to run.</p>
                <a href="#">View more</a>
              </figcaption> 
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Gallery Hover Effect Starts-->
