<!-- Minimal statistics section start -->
<section id="minimal-statistics">
  <div class="row">
    <div class="col-12 mt-3 mb-1">
      <div class="content-header">Minimal Statistics Cards</div>
      <p class="content-sub-header">Statistics on minimal cards.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card">
        <div class="card-body">
          <div class="px-3 py-3">
            <div class="media">
              <div class="media-body text-left align-self-center">
                <i class="icon-pencil info font-large-2 float-left"></i>
              </div>
              <div class="media-body text-right">
                <h3>278</h3>
                <span>New Posts</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card">
        <div class="card-body">
          <div class="px-3 py-3">
            <div class="media">
              <div class="media-body text-left align-self-center">
                <i class="icon-speech warning font-large-2 float-left"></i>
              </div>
              <div class="media-body text-right">
                <h3>156</h3>
                <span>Comments</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card">
        <div class="card-body">
          <div class="px-3 py-3">
            <div class="media">
              <div class="media-body text-left align-self-center">
                <i class="icon-graph success font-large-2 float-left"></i>
              </div>
              <div class="media-body text-right">
                <h3>64%</h3>
                <span>Bounce</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card">
        <div class="card-body">
          <div class="px-3 py-3">
            <div class="media">
              <div class="media-body text-left align-self-center">
                <i class="icon-pointer danger font-large-2 float-left"></i>
              </div>
              <div class="media-body text-right">
                <h3>423</h3>
                <span>Total Visits</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card">
        <div class="card-body">
          <div class="media align-items-stretch">
            <div class="p-2 text-center bg-info rounded-left pt-3">
              <i class="icon-camera font-large-2 text-white"></i>
            </div>
            <div class="p-2 media-body">
              <h6>Products</h6>
              <h5 class="text-bold-400 mb-0">28</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card">
        <div class="card-body">
          <div class="media align-items-stretch">
            <div class="p-2 text-center bg-danger rounded-left pt-3">
              <i class="icon-user font-large-2 text-white"></i>
            </div>
            <div class="p-2 media-body">
              <h6>New Users</h6>
              <h5 class="text-bold-400 mb-0">1,22,356</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card">
        <div class="card-body">
          <div class="media align-items-stretch">
            <div class="p-2 text-center bg-success rounded-left pt-3">
              <i class="icon-basket-loaded font-large-2 text-white"></i>
            </div>
            <div class="p-2 media-body">
              <h6>New Orders</h6>
              <h5 class="text-bold-400 mb-0">4,65,879</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card">
        <div class="card-body">
          <div class="media align-items-stretch">
            <div class="p-2 text-center bg-warning rounded-left pt-3">
              <i class="icon-wallet font-large-2 text-white"></i>
            </div>
            <div class="p-2 media-body">
              <h6>Total Profit</h6>
              <h5 class="text-bold-400 mb-0">5.6 M</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card">
        <div class="card-body">
          <div class="media align-items-stretch">
            <div class="p-2 text-center bg-info rounded-left pt-3">
              <i class="icon-camera font-large-2 text-white"></i>
            </div>
            <div class="py-2 px-2 media-body">
              <h6 class="info">Products</h6>
              <h5 class="text-bold-400">28</h5>
              <div class="progress mt-1 mb-0" style="height: 7px;">
                <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card">
        <div class="card-body">
          <div class="media align-items-stretch">
            <div class="p-2 text-center bg-danger rounded-left pt-3">
              <i class="icon-user font-large-2 text-white"></i>
            </div>
            <div class="py-2 px-2 media-body">
              <h6 class="danger">New Users</h6>
              <h5 class="text-bold-400">1,22,356</h5>
              <div class="progress mt-1 mb-0" style="height: 7px;">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card">
        <div class="card-body">
          <div class="media align-items-stretch">
            <div class="p-2 text-center bg-success rounded-left pt-3">
              <i class="icon-basket-loaded font-large-2 text-white"></i>
            </div>
            <div class="py-2 px-2 media-body">
              <h6 class="success">New Orders</h6>
              <h5 class="text-bold-400">4,65,879</h5>
              <div class="progress mt-1 mb-0" style="height: 7px;">
                <div class="progress-bar bg-success" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card">
        <div class="card-body">
          <div class="media align-items-stretch">
            <div class="p-2 text-center bg-warning rounded-left pt-3">
              <i class="icon-wallet font-large-2 text-white"></i>
            </div>
            <div class="py-2 px-2 media-body">
              <h6 class="warning">Total Profit</h6>
              <h5 class="text-bold-400">5.6 M</h5>
              <div class="progress mt-1 mb-0" style="height: 7px;">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- // Minimal statistics section end -->
<!-- Minimal statistics with bg color section start -->
<section id="minimal-statistics-bg">
  <div class="row">
    <div class="col-12 mt-3 mb-1">
      <div class="content-header">Minimal Statistics With Background Color</div>
      <p class="content-sub-header">Statistics on minimal cards with background color.</p>
    </div>
  </div>
  <div class="row" matchHeight="card">
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card bg-success">
        <div class="card-body">
          <div class="px-3 py-3">
            <div class="row text-white">
              <div class="col-6">
                <h1><i class="fa fa-usd background-round text-white p-2 font-medium-3"></i></h1>
                <h4 class="pt-1 m-0 text-white">45% <i class="fa fa-long-arrow-up"></i></h4>
              </div>
              <div class="col-6 text-right pl-0">
                <h4 class="text-white mb-2">Sales</h4>
                <span>90%</span>
                <br>
                <span>Grate</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card bg-danger">
        <div class="card-body">
          <div class="px-3 py-3">
            <div class="row text-white">
              <div class="col-6">
                <h1><i class="fa fa-star-o background-round text-white p-2 font-medium-3"></i></h1>
                <h4 class="pt-1 m-0 text-white">10% <i class="fa fa-long-arrow-down"></i></h4>
              </div>
              <div class="col-6 text-right pl-0">
                <h4 class="text-white mb-2">Product</h4>
                <span>39%</span>
                <br>
                <span>Average</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card bg-info">
        <div class="card-body">
          <div class="px-3 py-3">
            <div class="row text-white">
              <div class="col-6">
                <h1><i class="fa fa-line-chart background-round text-white p-2 font-medium-3"></i></h1>
                <h4 class="pt-1 m-0 text-white">20% <i class="fa fa-long-arrow-up"></i></h4>
              </div>
              <div class="col-6 text-right pl-0">
                <h4 class="text-white mb-2">Profit</h4>
                <span>60%</span>
                <br>
                <span>Good</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card bg-warning">
        <div class="card-body">
          <div class="px-3 py-3">
            <div class="row text-white">
              <div class="col-6">
                <h1><i class="fa fa-rocket background-round text-white p-2 font-medium-3"></i></h1>
                <h4 class="pt-1 m-0 text-white">82% <i class="fa fa-long-arrow-up"></i></h4>
              </div>
              <div class="col-6 text-right pl-0">
                <h4 class="text-white">Referral</h4>
                <span>980</span>
                <br>
                <span>Grate</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card gradient-orange-amber">
        <div class="card-body">
          <div class="px-3 py-3">
            <div class="media">
              <div class="align-center">
                <i class="icon-pointer text-white font-large-2 float-left"></i>
              </div>
              <div class="media-body text-white text-right">
                <h3 class="text-white">423</h3>
                <span>Total Visits</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card gradient-light-blue-cyan">
        <div class="card-body">
          <div class="px-3 py-3">
            <div class="media">
              <div class="align-center">
                <i class="icon-pencil text-white font-large-2 float-left"></i>
              </div>
              <div class="media-body text-white text-right">
                <h3 class="text-white">278</h3>
                <span>New Posts</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card gradient-red-pink">
        <div class="card-body">
          <div class="px-3 py-3">
            <div class="media">
              <div class="align-center">
                <i class="icon-speech text-white font-large-2 float-left"></i>
              </div>
              <div class="media-body text-white text-right">
                <h3 class="text-white">156</h3>
                <span>New Comments</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card gradient-mint">
        <div class="card-body">
          <div class="px-3 py-3">
            <div class="media">
              <div class="align-center">
                <i class="icon-graph text-white font-large-2 float-left"></i>
              </div>
              <div class="media-body text-white text-right">
                <h3 class="text-white">64.89 %</h3>
                <span>Bounce Rate</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- // Minimal statistics with bg color section end -->
<!-- Basic example section start -->
<section id="basic-examples">
  <div class="row">
    <div class="col-12 mt-3 mb-1">
      <div class="content-header">Basic Examples</div>
      <p class="content-sub-header">Cards require a small amount of markup and classes to provide you with as much control as possible. These classes and markup are flexible though and can typically be remixed and extended with ease. For example, if your card has no flush content like images, feel free to put the <code>.card-block</code> class on the <code>.card</code> element to consolidate your markup.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-3 col-lg-6 col-md-12">
      <div class="card">
        <div class="card-body">
          <img class="card-img-top img-fluid" src="assets/img/photos/16.jpeg" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Icing powder caramels macaroon. Toffee sugar plum brownie pastry gummies jelly.</p>
            <a class="btn btn-raised btn-warning">Load More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="card-block">
            <img class="card-img img-fluid mb-3" src="assets/img/photos/7.jpeg" alt="Card image cap">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Sweet halvah dragée jelly-o halvah carrot cake oat cake. Donut jujubes jelly chocolate cake marzipan chocolate chocolate bar.
            </p>
            <a class="btn btn-raised btn-success">Load More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <h6 class="card-subtitle text-muted">Support card subtitle</h6>
          </div>
          <img class="img-fluid" src="assets/img/photos/15.jpg" alt="Card image cap">
          <div class="card-block">
            <p class="card-text">Bear claw sesame snaps gummies chocolate.</p>
            <a class="card-link danger">Card link</a>
            <a class="card-link danger">Another link</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <h6 class="card-subtitle text-muted">Support card subtitle</h6>
            <img class="img-fluid my-4" src="assets/img/photos/4.jpeg" alt="Card image cap">
            <p class="card-text">Topping dessert marshmallow gummi bears chupa chups marzipan.</p>
            <a class="card-link info darken-2">Card link</a>
            <a class="card-link info darken-2">Another link</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- // Basic example section end -->
<!-- Text alignment section start -->
<section id="text-alignment">
  <div class="row">
    <div class="col-12 mt-3 mb-1">
      <div class="content-header">Text alignment</div>
      <p class="content-sub-header">You can quickly change the text alignment of any card—in its entirety or specific parts—with our text align classes.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title info">Text Align Left</h4>
        </div>
        <div class="card-body">
          <div class="card-block">
            <p class="card-text">Gummi bears I love oat cake gingerbread donut cotton candy pie biscuit tart. Chocolate cake chocolate cake I love marzipan cookie macaroon. Tart I love I love carrot cake carrot cake chupa chups caramels. Carrot cake pastry cotton candy.</p>
            <p class="card-text">Dessert I love brownie biscuit topping I love chocolate cake gingerbread jelly beans. Chocolate cake cake cheesecake. Chocolate cake pastry macaroon.</p>
            <a class="btn btn-raised btn-info">Load More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12">
      <div class="card text-center">
        <div class="card-header">
          <h4 class="card-title success">Text Align Center</h4>
        </div>
        <div class="card-body">
          <div class="card-block">
            <p class="card-text">Gummi bears I love oat cake gingerbread donut cotton candy pie biscuit tart. Chocolate cake chocolate cake I love marzipan cookie macaroon. Tart I love I love carrot cake carrot cake chupa chups caramels. Carrot cake pastry cotton candy.</p>
            <p class="card-text">Dessert I love brownie biscuit topping I love chocolate cake gingerbread jelly beans. Chocolate cake cake cheesecake. Chocolate cake pastry macaroon.</p>
            <a class="btn btn-raised btn-success">Load More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12">
      <div class="card text-right">
        <div class="card-header">
          <h4 class="card-title danger">Text Align Right</h4>
        </div>
        <div class="card-body">
          <div class="card-block">
            <p class="card-text">Gummi bears I love oat cake gingerbread donut cotton candy pie biscuit tart. Chocolate cake chocolate cake I love marzipan cookie macaroon. Tart I love I love carrot cake carrot cake chupa chups caramels. Carrot cake pastry cotton candy.</p>
            <p class="card-text">Dessert I love brownie biscuit topping I love chocolate cake gingerbread jelly beans. Chocolate cake cake cheesecake. Chocolate cake pastry macaroon.</p>
            <a class="btn btn-raised btn-danger">Load More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Text alignment section end -->
<!-- Card group section start -->
<section id="card-group">
  <div class="row">
    <div class="col-12 mt-3 mb-1">
      <div class="content-header">Card groups</div>
      <p class="content-sub-header">Use card groups to render cards as a single, attached element with equal width and height columns. Card groups use <code>display: flex;</code> to achieve their uniform sizing.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card-group">
        <div class="card">
          <img class="card-img-top" src="assets/img/photos/01.jpg" alt="Card image cap">
          <div class="card-body">
            <div class="card-block">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="assets/img/photos/05.jpg" alt="Card image cap">
          <div class="card-body">
            <div class="card-block">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="assets/img/photos/04.jpg" alt="Card image cap">
          <div class="card-body">
            <div class="card-block">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Card group section end -->
<!-- Card deck section start -->
<section id="card-deck">
  <div class="row">
    <div class="col-12 mt-3 mb-1">
      <div class="content-header">Card deck</div>
      <p class="content-sub-header">Need a set of equal width and height cards that aren’t attached to one another? Use card decks.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="assets/img/photos/3.jpeg" alt="Card image cap">
          <div class="card-body">
            <div class="card-block">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="assets/img/photos/14.jpeg" alt="Card image cap">
          <div class="card-body">
            <div class="card-block">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="assets/img/photos/17.jpeg" alt="Card image cap">
          <div class="card-body">
            <div class="card-block">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Card deck section end -->
<!-- Card columns section start -->
<section id="card-column">
  <div class="row">
    <div class="col-12 mt-3 mb-1">
      <div class="content-header">Card columns</div>
      <p class="content-sub-header">Cards can be organized into Masonry-like columns with just CSS by wrapping them in <code>.card-columns</code>. Cards are built with CSS <code>column</code> properties instead of flexbox for easier alignment. Cards are ordered from top to bottom and left to right.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card-columns">
        <div class="card">
          <img class="card-img-top" src="assets/img/photos/2.jpg" alt="Card image cap">
          <div class="card-body">
            <div class="card-block">
              <h5 class="card-title">Card title that wraps to a new line</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="card p-3">
          <blockquote class="blockquote mb-0 card-body">
            <div class="card-block">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
              <footer class="blockquote-footer">
                <small class="text-muted">
									Someone famous in <cite title="Source Title">Source Title</cite>
								</small>
              </footer>
            </div>
          </blockquote>
        </div>
        <div class="card">
          <img class="card-img-top" src="assets/img/photos/5.jpeg" alt="Card image cap">
          <div class="card-body">
            <div class="card-block">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
        <div class="card bg-blue-grey text-white text-center p-3">
          <blockquote class="blockquote mb-0">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
            <footer class="blockquote-footer white">
              <small class="white">
								Someone famous in <cite title="Source Title">Source Title</cite>
							</small>
            </footer>
          </blockquote>
        </div>
        <div class="card text-center">
          <div class="card-body">
            <div class="card-block">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
        <div class="card">
          <img class="card-img" src="assets/img/photos/8.jpeg" alt="Card image">
        </div>
        <div class="card p-3 text-right">
          <blockquote class="blockquote mb-0">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer class="blockquote-footer">
              <small class="text-muted">
								Someone famous in <cite title="Source Title">Source Title</cite>
							</small>
            </footer>
          </blockquote>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="card-block">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Card columns section end -->
