<div class="row">
    <div class="col-sm-12">
        <div class="content-header">Chartist</div>
        <p class="content-sub-header">Angular component for Chartist.js</p>
    </div>
</div>

<!--Line Chart Starts-->
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title-wrap bar-primary">
                    <h4 class="card-title">Line Chart</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="card-block">
                    <div id="line-chart" class="height-400 lineChart lineChartShadow">
                        <x-chartist [data]="lineChart.data" [type]="lineChart.type" [options]="lineChart.options" [responsiveOptions]="lineChart.responsiveOptions"
                            [events]="lineChart.events">
                        </x-chartist>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Line Chart Ends-->

<!--Two Lines with Area Chart Starts-->
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title-wrap bar-success">
                    <h4 class="card-title">Line with Area Chart</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="card-block">
                    <div id="line-area" class="height-400 twoLinesArea">
                        <x-chartist [data]="twoLinesArea.data" [type]="twoLinesArea.type" [options]="twoLinesArea.options" [responsiveOptions]="twoLinesArea.responsiveOptions"
                            [events]="twoLinesArea.events">
                        </x-chartist>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Two Lines with Area Chart Ends-->
<!--Line with Area Chart Starts-->
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title-wrap bar-warning">
                    <h4 class="card-title">Line with Area Chart</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="card-block">
                    <div id="line-area" class="height-400 lineArea">
                        <x-chartist [data]="lineArea.data" [type]="lineArea.type" [options]="lineArea.options" [responsiveOptions]="lineArea.responsiveOptions"
                            [events]="lineArea.events">
                        </x-chartist>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Line with Area Chart Ends-->


<!--Line with Area Chart 4 Starts-->
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title-wrap bar-primary">
                    <h4 class="card-title">Line with Area Chart</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="card-block">
                    <div id="line-area4" class="height-400">
                        <x-chartist [data]="lineArea4.data" [type]="lineArea4.type" [options]="lineArea4.options" [responsiveOptions]="lineArea4.responsiveOptions"
                            [events]="lineArea4.events">
                        </x-chartist>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Line with Area Chart 4 Ends-->
<!--Line with Area Chart 5 Starts-->
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title-wrap bar-danger">
                    <h4 class="card-title">Line with Area Chart</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="card-block">
                    <div id="line-area5" class="height-400 lineArea5 lineAreaChart5Shadow">
                        <x-chartist [data]="lineArea5.data" [type]="lineArea5.type" [options]="lineArea5.options" [responsiveOptions]="lineArea5.responsiveOptions"
                            [events]="lineArea5.events">
                        </x-chartist>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Line with Area Chart 5 Ends-->

<!--Line Chart 3 Starts-->
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title-wrap bar-info">
                    <h4 class="card-title">Line Chart</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="card-block">
                    <div id="line-chart3" class="height-400">
                        <x-chartist [data]="lineChart3.data" [type]="lineChart3.type" [options]="lineChart3.options" [responsiveOptions]="lineChart3.responsiveOptions"
                            [events]="lineChart3.events">
                        </x-chartist>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Line Chart 3 Ends-->
<!--Scatter Line Chart Starts-->
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title-wrap bar-success">
                    <h4 class="card-title">Scatter Line Chart</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="card-block">
                    <div id="scatter -line-chart" class="height-400">
                        <x-chartist [data]="scatterlineChart.data" [type]="scatterlineChart.type" [options]="scatterlineChart.options" [responsiveOptions]="scatterlineChart.responsiveOptions"
                            [events]="scatterlineChart.events">
                        </x-chartist>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Scatter Line Chart Ends-->
<!--Scatter Chart Starts-->
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title-wrap bar-warning">
                    <h4 class="card-title">Scatter Chart</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="card-block">
                    <div id="scatter-chart2" class="height-400">
                        <x-chartist [data]="scatterChart.data" [type]="scatterChart.type" [options]="scatterChart.options" [responsiveOptions]="scatterChart.responsiveOptions"
                            [events]="scatterChart.events">
                        </x-chartist>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Scatter Chart Ends-->
<!--Bi-polar Line Chart Starts-->
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title-wrap bar-primary">
                    <h4 class="card-title">Bi-polar Line Chart</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="card-block">
                    <div id="bi-polar-chart" class="height-400">
                        <x-chartist [data]="biPolarLineChart.data" [type]="biPolarLineChart.type" [options]="biPolarLineChart.options" [responsiveOptions]="biPolarLineChart.responsiveOptions"
                            [events]="biPolarLineChart.events">
                        </x-chartist>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Bi-polar Line Chart Ends-->
<!--Bar Chart Starts-->
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title-wrap bar-danger">
                    <h4 class="card-title">Bar Chart</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="card-block">
                    <div id="bar-chart" class="height-400">
                        <x-chartist [data]="barChart.data" [type]="barChart.type" [options]="barChart.options" [responsiveOptions]="barChart.responsiveOptions"
                            [events]="barChart.events">
                        </x-chartist>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Bar Chart Ends-->
<!--Distributed Series Bar Chart Starts-->
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title-wrap bar-info">
                    <h4 class="card-title">Distributed Series Bar Chart</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="card-block">
                    <div id="distributed-bar-chart" class="height-400">
                        <x-chartist [data]="distributedSeriesBarChart.data" [type]="distributedSeriesBarChart.type" [options]="distributedSeriesBarChart.options"
                            [responsiveOptions]="distributedSeriesBarChart.responsiveOptions" [events]="distributedSeriesBarChart.events">
                        </x-chartist>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Distributed Series Bar Chart Ends-->
<!--Donut Chart 1 Starts-->
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title-wrap bar-success">
                    <h4 class="card-title">Donut Chart</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="card-block">
                    <div id="donut-chart1" class="height-400">
                        <x-chartist [data]="donutChart1.data" [type]="donutChart1.type" [options]="donutChart1.options" [responsiveOptions]="donutChart1.responsiveOptions"
                            [events]="donutChart1.events">
                        </x-chartist>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Donut Chart 1 Ends-->
<!--Donut Chart 2 Starts-->
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title-wrap bar-warning">
                    <h4 class="card-title">Donut Chart</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="card-block">
                    <div id="donut-chart2" class="height-400">
                        <x-chartist [data]="donutChart2.data" [type]="donutChart2.type" [options]="donutChart2.options" [responsiveOptions]="donutChart2.responsiveOptions"
                            [events]="donutChart2.events">
                        </x-chartist>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Donut Chart 2 Ends-->