<div class="row">
  <div class="col-sm-12">
    <div class="content-header">Knowledge Base</div>
    <p class="content-sub-header"></p>
  </div>
</div>
<!-- Convex template Knowledge Base starts -->
<section id="kb">
  <div class="row">
    <div class="col-12">
      <div class="card gradient-crystal-clear white text-center p-4">
        <div class="card-header">
          <h1 class="white">Have a Question?</h1>
          <p><em>If you have any question,You can enter what you are looking for!</em></p>
        </div>
        <div class="card-block">
          <fieldset class="form-group col-xl-12 col-lg-10 col-10">
            <input type="text" class="form-control" placeholder="Type your search items here">
          </fieldset>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-3 col-lg-6 col-md-6 col-12">
      <div class="card">
        <div class="card-body">
          <div class="px-3 py-3">
            <div class="media">
              <div class="media-left align-self-center">
                <i class="icon-rocket danger font-large-2 float-left"></i>
              </div>
              <div class="media-body text-center">
                <h5 class="mb-1 text-bold-500">Our Blog</h5>
                <span class="text-muted">53 Articles / 10 Categories</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-12">
      <div class="card">
        <div class="card-body">
          <div class="px-3 py-3">
            <div class="media">
              <div class="media-left align-self-center">
                <i class="icon-bubble danger font-large-2 float-left"></i>
              </div>
              <div class="media-body text-center">
                <h5 class="mb-1 text-bold-500">Forum</h5>
                <span class="text-muted">18 Topics / 7 Posts</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-12">
      <div class="card">
        <div class="card-body">
          <div class="px-3 py-3">
            <div class="media">
              <div class="media-left align-self-center">
                <i class="icon-bulb danger font-large-2 float-left"></i>
              </div>
              <div class="media-body text-center">
                <h5 class="mb-1 text-bold-500">Innovation</h5>
                <span class="text-muted">43 ideas / 8 Topics</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-12">
      <div class="card">
        <div class="card-body">
          <div class="px-3 py-3">
            <div class="media">
              <div class="media-left align-self-center">
                <i class="icon-support danger font-large-2 float-left"></i>
              </div>
              <div class="media-body text-center">
                <h5 class="mb-1 text-bold-500">Support</h5>
                <span class="text-muted">28 Posts / 5 Categories</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-8 col-lg-12">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="card">
            <div class="card-header">
              <div class="card-title-wrap bar-success">
      					<h4 class="card-title mb-0">Featured Articles</h4>
              </div>
    				</div>
            <div class="card-body">
              <div class="card-block">            
                <ul class="list-group">
                  <li class="list-group-item cursor-pointer" (click)="GetDetails(content, 'Activating an Account and Logging in')">
                    <i class="fa fa-check-square-o mr-1"></i>
                    <span> Activating an Account and Logging in</span>
                  </li>
                  <li class="list-group-item cursor-pointer" (click)="GetDetails(content, 'User Profile')">
                    <i class="fa fa-check-square-o mr-1"></i>
                    <span> User Profile</span>
                  </li>
                  <li class="list-group-item cursor-pointer" (click)="GetDetails(content, 'Using the Dashboard')">
                    <i class="fa fa-check-square-o mr-1"></i>
                    <span> Using the Dashboard</span>
                  </li>
                  <li class="list-group-item cursor-pointer" (click)="GetDetails(content, 'Subscribing to Email Alerts')">
                    <i class="fa fa-check-square-o mr-1"></i>
                    <span> Subscribing to Email Alerts</span>
                  </li>
                  <li class="list-group-item cursor-pointer" (click)="GetDetails(content, 'Changing a Password')">
                    <i class="fa fa-check-square-o mr-1"></i>
                    <span> Changing a Password</span>
                  </li>
                  <li class="list-group-item cursor-pointer" (click)="GetDetails(content, 'Inviting and Managing Users')">
                      <i class="fa fa-check-square-o mr-1"></i>
                      <span> Inviting and Managing Users</span>
                    </li>
                    <li class="list-group-item cursor-pointer" (click)="GetDetails(content, 'Creating and Managing Groups')">
                      <i class="fa fa-check-square-o mr-1"></i>
                      <span> Creating and Managing Groups</span>
                    </li>
                    <li class="list-group-item cursor-pointer" (click)="GetDetails(content, 'Granting Roles')">
                      <i class="fa fa-check-square-o mr-1"></i>
                      <span> Granting Roles</span>
                    </li>
                    <li class="list-group-item cursor-pointer" (click)="GetDetails(content, 'Quick Guide: Organizing Security Groups')">
                      <i class="fa fa-check-square-o mr-1"></i>
                      <span> Quick Guide: Organizing Security Groups</span>
                    </li>
                    <li class="list-group-item cursor-pointer" (click)="GetDetails(content, 'What to Do if a User is Unable to Login')">
                      <i class="fa fa-check-square-o mr-1"></i>
                      <span> What to Do if a User is Unable to Login</span>
                    </li>
                </ul>
              </div>
            </div>
            <div class="card-footer">
              <a class="card-link info">See all articles (50)</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="card-title-wrap bar-danger">
              <h4 class="card-title">Latest Articles</h4>
            </div>
            <div class="card-body">
              <div class="card-block">
                <ul class="list-group">
                  <li class="list-group-item cursor-pointer" (click)="GetDetails(content, 'Files Overview')">
                    <i class="fa fa-check-square-o mr-1"></i>
                    <span> Files Overview</span>
                  </li>
                  <li class="list-group-item cursor-pointer" (click)="GetDetails(content, 'Search Overview')">
                    <i class="fa fa-check-square-o mr-1"></i>
                    <span> Search Overview</span>
                  </li>
                  <li class="list-group-item cursor-pointer" (click)="GetDetails(content, 'Using Tasks')">
                    <i class="fa fa-check-square-o mr-1"></i>
                    <span> Using Tasks</span>
                  </li>
                  <li class="list-group-item cursor-pointer" (click)="GetDetails(content, 'Events')">
                    <i class="fa fa-check-square-o mr-1"></i>
                    <span> Events</span>
                  </li>
                  <li class="list-group-item cursor-pointer" (click)="GetDetails(content, 'Blogs')">
                    <i class="fa fa-check-square-o mr-1"></i>
                    <span> Blogs</span>
                  </li>
                  <li class="list-group-item cursor-pointer" (click)="GetDetails(content, 'Basic Files Module Features')">
                    <i class="fa fa-check-square-o mr-1"></i>
                    <span> Basic Files Module Features</span>
                  </li>
                  <li class="list-group-item cursor-pointer" (click)="GetDetails(content, 'How to Add a Single File')">
                    <i class="fa fa-check-square-o mr-1"></i>
                    <span> How to Add a Single File</span>
                  </li>
                  <li class="list-group-item cursor-pointer" (click)="GetDetails(content, 'Drag-and-Drop upload files and folders')">
                    <i class="fa fa-check-square-o mr-1"></i>
                    <span> Drag-and-Drop upload files and folders</span>
                  </li>
                  <li class="list-group-item cursor-pointer" (click)="GetDetails(content, 'Searching Files')">
                    <i class="fa fa-check-square-o mr-1"></i>
                    <span> Searching Files</span>
                  </li>
                  <li class="list-group-item cursor-pointer" (click)="GetDetails(content, 'Digital Rights Management')">
                    <i class="fa fa-check-square-o mr-1"></i>
                    <span> Digital Rights Management</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="card-footer">
              <a class="card-link info">See all articles (73)</a>
            </div>
          </div>
        </div>
        </div>      
      </div>      
    </div>
    <div class="col-xl-4 col-lg-12">
      <div class="row">
        <div class="col-12">
          <div class="card card-inverse bg-warning text-center">
            <div class="card-header">
              <i class="icon-shield font-large-1 float-left mr-2"></i>
              <h4 class="card-title">Support</h4>
            </div>
            <div class="card-body">
              <div class="card-block">
                <p>Contact our support team for </p><h3 class="white">24x7</h3>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <div class="card-title-wrap bar-info">
                <h4 class="card-title">Quick Links</h4>
              </div>
            </div>
            <div class="card-body">
              <div class="card-block">
                <div class="row">
                  <div class="col-12 col-sm-6">
                    <ul>
                      <li><a href="#" title="Our Blog">Our Blog</a></li>
                      <li><a href="#" title="Plugins">Plugins</a></li>
                      <li><a href="#" title="Ideas">Ideas</a></li>
                      <li><a href="#" title="Wordpress">Wordpress</a></li>
                    </ul>
                  </div>
                  <div class="col-12 col-sm-6">
                    <ul>                  
                      <li><a href="#" title="Admin ">Admin </a></li>
                      <li><a href="#" title="Themes">Themes</a></li>
                      <li><a href="#" title="Documentation">Documentation</a></li>
                      <li><a href="#" title="Support">Support</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <div class="card-title-wrap bar-success">
                <h4 class="card-title">Tags</h4>
              </div>
            </div>
            <div class="card-body">
              <div class="card-block">
                <span class="badge badge-secondary mb-2 mr-1">admin</span>
                <span class="badge badge-secondary mb-2 mr-1">admin dashboard</span>
                <span class="badge badge-secondary mb-2 mr-1">admin template</span>
                <span class="badge badge-secondary mb-2 mr-1">admin theme</span>
                <span class="badge badge-secondary mb-2 mr-1">bitcoin</span>
                <span class="badge badge-secondary mb-2 mr-1">bootstrap</span>
                <span class="badge badge-secondary mb-2 mr-1">bootstrap 4</span>
                <span class="badge badge-secondary mb-2 mr-1">bootstrap admin</span>
                <span class="badge badge-secondary mb-2 mr-1">bootstrap template</span>
                <span class="badge badge-secondary mb-2 mr-1">bootstrap dashboard</span>
                <span class="badge badge-secondary mb-2 mr-1">crypto cards</span>
                <span class="badge badge-secondary mb-2 mr-1">crypto dashboard</span>
                <span class="badge badge-secondary mb-2 mr-1">dashboard template</span>
                <span class="badge badge-secondary mb-2 mr-1">responsive</span>
              </div>
            </div>
          </div>
        </div>
      </div>      
    </div>      
  </div>
  <!-- Convex template Knowledge Base Ends -->

  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header bg-info">
      <h4 class="modal-title white">{{title}}</h4>
      <button type="button" class="close white" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" id="kbModal-body">
      <p class="text-bold-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <p>Curabitur et congue orci. Nullam tempor, lectus vitae facilisis consectetur, enim dolor sodales nunc, ut venenatis
        ipsum massa non eros. Integer tristique consequat sagittis. Sed vitae sapien lobortis, viverra turpis non, hendrerit
        erat. Vivamus luctus, nisl et dignissim pretium, quam risus sollicitudin augue, ut mollis erat neque a lectus. Donec
        et ex vitae orci pretium volutpat eget sed est. Nunc ornare mauris nunc, id ullamcorper libero finibus id. Fusce
        imperdiet laoreet suscipit. Nunc sagittis arcu non sem euismod auctor. Sed tellus odio, posuere id molestie quis,
        egestas sit amet turpis. Duis velit diam, dictum a semper eu, ultricies id neque. Integer nec eros placerat lacus
        bibendum viverra in eu urna.</p>
      <p class="text-bold-500">Suspendisse auctor nisl interdum arcu blandit, sed aliquam leo volutpat.</p>
      <p>Donec laoreet in nibh vel maximus. Donec posuere aliquam lacus a congue. Interdum et malesuada fames ac ante ipsum
        primis in faucibus. Aenean semper fringilla arcu, non auctor ante. Ut efficitur euismod scelerisque. Cras accumsan
        orci rhoncus elementum auctor. Phasellus maximus volutpat nunc ut tincidunt. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Pellentesque aliquet tincidunt neque, et volutpat est dictum non. Nulla hendrerit leo sit amet nisl
        blandit, quis pharetra lacus ultrices. Etiam pretium ipsum eu dui consectetur maximus. Vivamus pretium luctus lorem,
        eu viverra velit malesuada at. Nam risus orci, gravida ut convallis et, cursus id velit.</p>
        <p class="text-bold-500"> Phasellus maximus volutpat nunc ut tincidunt.</p>
        <p>Donec laoreet in nibh vel maximus. Donec posuere aliquam lacus a congue. Interdum et malesuada fames ac ante ipsum
          primis in faucibus. Aenean semper fringilla arcu, non auctor ante. Ut efficitur euismod scelerisque. Cras accumsan
          orci rhoncus elementum auctor. Phasellus maximus volutpat nunc ut tincidunt. Lorem ipsum dolor sit amet, consectetur
          adipiscing elit. Pellentesque aliquet tincidunt neque, et volutpat est dictum non. Nulla hendrerit leo sit amet nisl
          blandit, quis pharetra lacus ultrices. Etiam pretium ipsum eu dui consectetur maximus. Vivamus pretium luctus lorem,
          eu viverra velit malesuada at. Nam risus orci, gravida ut convallis et, cursus id velit.</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-info btn-raised" (click)="c('Close click')">Close</button>
    </div>
  </ng-template>

</section>